html, body {
    height: 100%;
    margin: 0;
}
.hamburger {
    width: 25%;
    height: 100vh;
    background-color: #333;
    color: #333;
    opacity: 1;
    margin: 0;
    position: fixed;
    left: -25%;
    animation: slideIn 0.5s ease forwards;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.hamburger-title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.hamburger-line {
    border-top: 1px solid grey
}

p {
    color: white;
}

@keyframes slideIn {
    0% {
        left: -25%;
    }
    100% {
        left: 0;
    }
}

.hamburger.close {
    animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
    0% {
        left: 0;
    }
    100% {
        left: -25%;
    }
}

.menu-links {
    display: flex;
    flex-direction: column;
}