html, body {
    height: 100%;
    margin: 0;
}
.hamburger {
    width: 25%;
    height: 100vh;
    background-color: #333;
    color: #333;
    opacity: 1;
    margin: 0;
    position: fixed;
    left: -25%;
    animation: slideIn 0.5s ease forwards;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.hamburger-title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.hamburger-line {
    border-top: 1px solid grey
}

p {
    color: white;
}

@keyframes slideIn {
    0% {
        left: -25%;
    }
    100% {
        left: 0;
    }
}

.hamburger.close {
    animation: slideOut 0.5s ease forwards;
}

@keyframes slideOut {
    0% {
        left: 0;
    }
    100% {
        left: -25%;
    }
}

.menu-links {
    display: flex;
    flex-direction: column;
}
.menu-icons {
    color: #fff;
    height: 25px;
    margin-right: 10px;
}
.menu-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
}
.ham-btn {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    color: #fff;
    transition: color 0.3s;
    opacity: .7;
}
.ham-btn::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}
.ham-btn:hover {
    opacity: 1;
}
.ham-btn:hover::before {
    width: 100%;
}
